*{
  box-sizing: border-box;
}

#root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  background-color: #F8E400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

header {
  top: 0;
  margin: 0;
}

body{
  margin: 0;
  padding: 0;
  background-color: white;
  font-family: 'Poppins';
}

#intro {
  background-color: white;
  top: 0;
  padding-top: 0.5%;
  padding-bottom: 1%;
  width:100%;
  z-index: 999;
  position: sticky;
}

h1 {
  text-align: center;
  font-size: 54px;
}

footer{
  background-color: #141414;
  color: white;
  margin: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}

#foot{
  padding: 3%;
}

.container{
  width: auto;
}

.slideSection {
  background-color: transparent;
  padding-left: 8%;
  padding-right: 8%;
  padding-top: 4%;
  padding-bottom: 4%;
  height: 100%;
}

.spacer {
  height: 40dvh;
  border: 1px solid red;
  background-color: transparent;
  pointer-events: none;
}

.lastSection {
  background-color: #F8E400;
  padding-left: 8%;
  padding-right: 8%;
  padding-top: 4%;
  padding-bottom: 4%;
  height: 100%;
}

.slide{
  z-index: 300;
  opacity: 1;
}

.bg{
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -999;
}

.one {
  width: 100vw;
}

.fulllogo {
  width: 100vw;
  height: 100vh;
  object-fit: contain;
  object-position: center;
  display: block;
}

.offcanvas-body a {
  margin-bottom: 25%;
  font-weight: 100;
  font-size: medium;
  text-decoration: none;
  border-top: #141414;
  border-bottom: #141414;
  border-width: 15%;
}

.offcanvaSection {
  border-top: #141414;
  border-bottom: #141414;
  border-width: 15%;
}